.container {
  display: flex;
  gap: 5px;
  padding: 5px;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 1.3rem;
  overflow: hidden;
}
.todo label {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.todo input[type='checkbox'] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  border: 0.15em solid #69aaff;
  outline: none;
  cursor: pointer;
}
input.checked {
  background-color: #69aaff;
  position: relative;
}
input.checked::before {
  content: '\2714';
  font-size: 1.5em;
  color: #fff;
  position: absolute;
  right: 0px;
  top: -6px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.editTodo {
  width: max-content;
  font-size: 1.3rem;
  border: none;
  flex: 1;
}
.editTodo:focus {
  border: none;
  outline: none;
  background: #ececec;
}
